@import url('/home/vainaweb26/Desafiofinal/fonts/Montserrat-Bold.ttf');
@import url('/home/vainaweb26/Desafiofinal/fonts/Montserrat-ExtraBold.ttf');
@import url('/home/vainaweb26/Desafiofinal/fonts/Montserrat-Light.ttf');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif
box-sizing: border-box;
    
}
body{
    width: 95%;
    height: 100%;
    position: relative;
    top: 60px;
    left: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    top: 0;
    position: fixed;
    width: 63%;
    height: 10%;
    opacity: 1;
    justify-content: space-between;
}
@media(max-width:375px){
    header{
        height: 55px;
    }
}


.container-menu{
    width: 100%;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-menu{
    position: fixed;
    left: 11.5%;
    font-family: 'Montsserat, Bold', sans-serif;

}
@media (max-width:375px) {
    .logo-menu{
        left: 162px;
        top: 9px;
    }
}

.box-list-menu{
    width: 50%;
    display: flex;
    flex-direction: row;
}
@media (max-width:375px) {
    .box-list-menu{
        width: 45%;
        height: 50px;
        position: relative;
        left: -188px;
        background-color: black;
        
    }
    
}
.box-list{
    display: flex;
    flex-direction: row;
}
.list-menu{

    width: 100%;
    height: 30px;
    position: relative;
    padding: 0%;
    top: 15px;
    left: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}
@media(max-width:375px){
    .list-menu{
        display: none;
    }
}
.menu-hamburguer{
    display: none;
}
@media(max-width:375px){
    .menu-hamburguer{
        position: relative;
        left: 30px;
        top: 6px;
        width: 30%;
        height: 4vh;
    }
}
.list-menu1{
    opacity: 35%;
    display: flex;
    justify-content: space-between;
}

.list-menu4{
    display: flex;
    font-weight: bold;
}
@media(max-width:375px){
    .list-menu4{
        display: none;
    }
}
.img-laranja{
    width: 100%;
    height: 83vh;
}
@media(max-width: 375px){
    .img-laranja{
        height: 650px;
        position: relative;
        top: -18px;
        background-image: url("/home/vainaweb26/Desafiofinal/Img/laranja azul recorte@2x.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.text-imagine{
    left: 10%;
    top: 40%;
    display: flex;
    position: absolute;
    font-size: 330%;
    font-weight: bold;
    font-family: 'Montserrat, ExtraBold', sans-serif;
    color: #FFFFFF;
}
@media(max-width:375px){
    .text-imagine{
        top: 330px;

    }
}
.text-fale{
    font-family: 'Montserrat,Light', sans-serif;
    display: flex;
    position: absolute;
    top: 56%;
    left: 10%;
    color: #ffffff;
    font-weight: 100;
    opacity: 90%;
}
@media(max-width:375px){
    .text-fale{
        top:540px;
    }
}
.box-prancheta{
    width: 83%;
    display: flex;
    line-height: 26px;
    word-spacing: 4px;
    position: absolute;
    left: 10%;
    top: 110%;
}

@media(max-width:375px){
    .box-prancheta{
        margin: 0;
        padding: 0;
        width: 93%;
        

    }
}
.img-prancheta1{
    width: 24%;
}
@media(max-width:375px){
    .img-prancheta1{
        width: 80%;
    }
}


.box-footer{
    height: 75px;
    font-style: Gainsboro;
    opacity: 1;
    position: absolute;
    top: 200%;
}

.container-footer{
    width: 100%;
    position: relative;
    left: -47%;
    top: 350%;
    background-color: rgb(220 220 220 / 29%);
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}
@media(max-width:375px){
    .container-footer{
        width: 100%;
        display: flex;
        top: 2554px;
        flex-direction: column;
        background: none;
    }
}
   
.box-img-footer{
    letter-spacing: 17px;
}
@media(max-width:375px){
    .box-img-footer{

        width: 138%;
        height: 7vh;
        background-color: #7FDBD4;
        display: flex;
        justify-content: space-evenly;
    }
    }


.img-footer1{
    width: 3.5%;

}
.img-footer2{
    width: 8%;

}
.img-footer3{
    width: 7%;

}
.img-footer4{
    width: 8%;

}
.img-footer5{
    width: 7%;

}
.img-footer6{
    width: 9%;

}
.topo{
    display: none;
}
@media(max-width:375px){
    .topo{
     height: 3vh;
    background-color: #707070;
    background-size: #CCCCCC;
    background-repeat: no-repeat;
    width: 50px;
    display: flex;
    position: relative;
    left: 110px;
    top: -490px;
}
    }
    @media(max-width:375px){
        .box-copy{
                margin: 0;
                padding: 0;
                position: relative;
                top: -133px;
        }
    }

.text-copy{
    font-weight: bold;
    position: relative;
    left: -200%;
}
@media (max-width:375px){
    .text-copy{
    font-size: 12px;
    }
}
.box-text-footer{

}
@media(max-width:375px){
    .box-text-footer{

    }
}
.text-footer{
    display: flex;
    font-weight: 100;
    text-transform: capitalize;
    position: relative;
    left: -75%;
}
@media(max-width:375px){
    .text-footer{
        display: flex;
        width: 13px;
        justify-content: space-evenly;
        position: relative;
        top: -284px;
        left: -19px;
    }
}
